@font-face {
    font-family: 'RenaultLife';
    src: url('../fonts/RenaultLife.eot');
    src: url('../fonts/RenaultLife.eot?#iefix') format('embedded-opentype'), url('../fonts/RenaultLife.woff2') format('woff2'), url('../fonts/RenaultLife.woff') format('woff'), url('../fonts/RenaultLife.ttf') format('truetype'), url('../fonts/RenaultLife.svg#RenaultLife') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RenaultLifeBold';
    src: url('../fonts/RenaultLife-Bold.eot');
    src: url('../fonts/RenaultLife-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RenaultLife-Bold.woff2') format('woff2'), url('../fonts/RenaultLife-Bold.woff') format('woff'), url('../fonts/RenaultLife-Bold.ttf') format('truetype'), url('../fonts/RenaultLife-Bold.svg#RenaultLife-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RenaultLifeLight';
    src: url('../fonts/RenaultLife-Light.eot');
    src: url('../fonts/RenaultLife-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/RenaultLife-Light.woff2') format('woff2'), url('../fonts/RenaultLife-Light.woff') format('woff'), url('../fonts/RenaultLife-Light.ttf') format('truetype'), url('../fonts/RenaultLife-Light.svg#RenaultLife-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

.container {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'RenaultLife';
}

.oficina {
    padding: 20px 0px;
    background-color: #f1f1f1;
}

@media (min-width: 1200px) {
    .container,
    .container_cinzento,
    .container_azul {
        max-width: 970px !important;
    }
}

@media (min-width: 992px) {
    .container,
    .container_cinzento,
    .container_azul {
        max-width: 970px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

.primeiro-texto p {
    font-size: 18px !important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: relative;
}

.titulo {
    font-family: 'RenaultLifeLight';
}

.video-renault,
.image_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    z-index: 999999;
    position: absolute;
    top: 90%;
    left: 3%;
    width: 45%;
    font-family: 'RenaultLifeLight';
    font-size: 34px;
    color: #3db2ca;
}

.texto {
    font-family: 'RenaultLife';
    font-size: 14px !important;
}

.bloco_texto {
    padding: 0px 20px 20px 20px;
    color: #ffffff !important;
}

@media only screen and (min-width: 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    imagem_modulo {
        width: 100%;
    }
    .so-mobile {
        display: block !important;
    }
    .primeiro-texto {
        padding-top: 55px;
        padding-left: 24px;
    }
    .separador {
        top: -7% !important;
        left: 25% !important;
    }
    .azul_claro .separador {
        top: -29% !important;
        left: 25% !important;
    }
    .azul_escuro .separador {
        top: -11% !important;
        left: 25% !important;
    }
}

.belinha {
    background-image: url("../images/belinha.png");
}

.tia {
    background-image: url("../images/tia.png");
}

.azul_escuro {
    background-image: url("../images/belinha_texto.png");
    background-size: cover;
    background-position: center center;
}

.verde {
    background-image: url("../images/catia_texto.png");
    background-size: cover;
    background-position: center center;
}

.imagem_modulo {
    background-size: cover;
    background-position: center center;
    min-height: 260px !important;
}

.silencio {
    background-size: cover;
    background-position: center center;
    min-height: 260px !important;
    background-image: url("../images/silencio_background.jpg")
}

.bloco_texto h1 {
    color: #366ab4;
}

.bloco_texto p {
    color: #000000;
}

.azul_escuro .separador {
    position: absolute;
    width: 239px;
    z-index: 99999999;
    top: -6%;
    left: 60%;
}

.verde .separador {
    position: absolute;
    width: 239px;
    z-index: 99999999;
    top: -6%;
    left: 25%;
}

.silencio .separador {
    position: absolute;
    width: 239px;
    z-index: 99999999;
    top: -6%;
    left: 163%;
}

.cinzento .separador {
    position: absolute;
    width: 239px;
    z-index: 99999999;
    top: -3%;
    left: 51%;
}

.azul_claro .separador {
    position: absolute;
    width: 239px;
    z-index: 99999999;
    top: -28%;
    left: 53%;
}

.azul-claro {
    position: relative;
}

.so-mobile {
    display: none;
}

.cinzento {
    background-color: #366ab4;
}

.titulo-silencio {
    padding: 75px 0px 75px 24%;
}

h1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 41px !important;
}

.col-sm-12,
.col-sm-4,
.col-sm-8,
.col-sm-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.pad-left {
    padding-left: 50px !important;
    padding-bottom: 30px;
}

.cinzento h2 {
    font-family: 'RenaultLifeLight';
    color: #3abad9;
    font-size: 40px !important;
}

.cinzento p {
    color: #ffffff !important;
}

.azul_claro {
    background-color: #3abad9;
    padding: 50px 0px 50px 50px;
}

.azul_claro p {
    color: #ffffff;
    font-family: 'RenaultLifeLight'
}

.titulo-silencio h1 {
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-family: 'RenaultLifeLight' !important;
    font-size: 36px;
}

.texto-silencio {
    color: #ffffff;
    padding: 90px 111px 90px 29px;
    min-height: 248px
}

.titulo {
    padding: 15px 0px 15px 0px;
}

.primeiro-texto {
    font-size: 12.2px;
    color: #000000;
    padding: 50px 46px 50px 52px;
}

.texto {
    padding: 0px 0px 15px 0px;
}

.movies-paddings {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.movies-paddings-left {
    padding-right: 20px;
}

.movies-paddings-right {
    padding-right: 20px;
}

.texto p {
    font-size: 1.7rem;
}

.sub-title {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.4;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .logo {
        z-index: 999999;
        position: absolute;
        top: 90%;
        left: 3%;
        width: 67%;
        font-family: 'RenaultLifeLight';
        font-size: 20px;
        color: #3db2ca;
    }
}