@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife.eot');
    src: url('RenaultLife.eot?#iefix') format('embedded-opentype'),
        url('RenaultLife.woff2') format('woff2'),
        url('RenaultLife.woff') format('woff'),
        url('RenaultLife.ttf') format('truetype'),
        url('RenaultLife.svg#RenaultLife') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-Bold.eot');
    src: url('RenaultLife-Bold.eot?#iefix') format('embedded-opentype'),
        url('RenaultLife-Bold.woff2') format('woff2'),
        url('RenaultLife-Bold.woff') format('woff'),
        url('RenaultLife-Bold.ttf') format('truetype'),
        url('RenaultLife-Bold.svg#RenaultLife-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-Light.eot');
    src: url('RenaultLife-Light.eot?#iefix') format('embedded-opentype'),
        url('RenaultLife-Light.woff2') format('woff2'),
        url('RenaultLife-Light.woff') format('woff'),
        url('RenaultLife-Light.ttf') format('truetype'),
        url('RenaultLife-Light.svg#RenaultLife-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

